extends layout

block head
   link(rel='stylesheet', href='/stylesheets/style-landing.css')
   script(src="/javascripts/indexCtrl.js")

block content

  div.container(ng-controller="indexCtrl")

    div.row

      div.col-md-2
        h1 <==
        br
        p.
          Click on the Read button at the top of the page to enjoy
          the library of FiNished stories!

      div.col-md-8
        div.text-center
          h1 Welcome to FiN,
          p(id="blinker") where you FiNish off your friends' _

      div.col-md-2
        h1 ==>
        br
        p.
          Click on the Write button at the top of the page to collaborate
          real-time on stories with your friends!