extends layout

block content
  div.container-fluid
    
    div.row
    
      div.col-lg-4
          
      div.col-lg-4
        div.text-center
          span
          h1 WELCOME TO FIN.
  
      div.col-lg-4