extends layout

block head
   link(rel='stylesheet', href='/stylesheets/style-landing.css')
   script(src="/javascripts/indexCtrl.js")

block content

  div.container(ng-controller="indexCtrl")

    div.row
    
      div.col-md-2
          
      div.col-md-8
        div.text-center
          h1 WELCOME TO FiN,
          p(id="blinker") where you FiNish off your friends' _
  
      div.col-md-2