extends layout

block head
   link(rel='stylesheet', href='/stylesheets/style-landing.css')

block content

  div.container
    
    div.row
    
      div.col-lg-4
          
      div.col-lg-4
        div.text-center
          h1 WELCOME TO FIN.
          p Create stories together.
  
      div.col-lg-4
      