extends layout

block head
   link(rel='stylesheet', href='/stylesheets/style-landing.css')

block content

  div.container

    div.row
    
      div.col-lg-2
          
      div.col-lg-8
        div.text-center
          h1 WELCOME TO FiN,
          p where you finish off your friends' _
  
      div.col-lg-2