doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
  body
    include navbar.jade
    block content