link(rel='stylesheet', href='/stylesheets/navbar.css')

div(class="navbar navbar-default navbar-fixed-top" role="navigation")
  div(class="container-fullwidth")
    div(class="navbar-inner")
      ul(class="nav navbar-nav")
        li(class=title=='read' ? 'active' : undefined): a(href="/read") READ
        li(class=title=='index' ? 'active' : undefined): a(class="brand visible-desktop" href="/") FiN.
        li(class=title=='write' ? 'active' : undefined): a(href="/write") WRITE