extends layout

block head
  
  link(rel='stylesheet' , href='/stylesheets/read.css')


block content

  div(ng-controller="ReadCtrl")
    div.row
      div.text-center
        p {{firstSentence}}
        p {{firstTime}}
        p {{firstViews}}
        p {{secondSentence}}
        p {{secondTime}}
        p {{secondViews}}
        p {{thirdSentence}}
        p {{thirdTime}}
        p {{thirdViews}}
        p {{fourthSentence}}
        p {{fourthTime}}
        p {{fourthViews}}
        p {{fifthSentence}}
        p {{fifthTime}}
        p {{fifthViews}}
        p {{sixthSentence}}
        p {{sixthTime}}
        p {{sixthViews}}
        //div(ng-repeat="story in stories")
        //  div.col-lg-4
        //    h1(ng-click="goToStory(story.storyID)") {{firstSentence}}
        //    p {{story.time}}
        //    p {{story.views}}