extends layout

block head
  
  link(rel='stylesheet' , href='/stylesheets/read-select.css')


block content
  div(ng-controller="ReadCtrl")
    div.row
      div.text-center
        div(ng-repeat="story in stories")
          div.col-lg-2
            h1(ng-click="goToStory(story.storyID)") {{story.firstSentence}}
            p {{story.time}}
            p {{story.views}}