extends layout

block head
    link(href="/stylesheets/write-story.css", rel="stylesheet")

    script(type='text/javascript', src='/bower_components/socket.io-client/socket.io.js')
    script(type='text/javascript', src='/javascripts/write-story.js')

block content
    h1 Write a Story
    div(ng-controller="StoryCtrl")
        form
            input.form-control(id="inputArea", autofocus, ng-model="message")
            button.btn.btn-primary(type="submit", ng-click="sendMessage()") Send
        ul(id="messageList")
            div(ng-repeat="data in messageList")
                button.btn.btn-default(type="submit", ng-click="vote($index)", id="vote{{$index}}") Vote!
                li {{data.votes}} {{data.msg}}
