extends layout

block head
    script(type='text/javascript', src='/javascripts/modal-username.js')
    script(src='/javascripts/write-select.js')

block content
  div(ng-controller='writeSelectCtrl')
    div.modal.fade(id="modal-username", role="dialog")
      .modal-content
        .modal-body
          .form-group
            label(for="name") Name
            input(type="text" class="form-control" id="username" placeholder="Enter Name")
        .modal-footer
          //button(type="button", class="btn btn-default", data-dismiss="modal") Close
          //button(type="button", class="btn btn-primary") Yolo
          button(type="submit" class="btn btn-primary" id="submit") Enter
          
    div(ng-repeat="story in stories")
      h1 {{story.firstSentence}}
      p {{story.numUsers}} / 20
