#messageList {
    height: 80%;
    width: 90%;
    border: 1px solid #c7c7c7;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
    background-color: white;
}

#messageList div li {
    display:inline-block;
    list-style-type: none;
}

#messageList div button {
    display:inline-block;
    margin-right: 10px;
    visibility: hidden;
}

#inputArea {
    width: 90%;
    padding: 0px;
    resize: none;
}
