.modal {
  top: 35%;
  width: 100%;
  padding-left: 35%;
  padding-right: 35%;
}

.modal-footer {
  text-align: center;
}

.form-group {
  margin-bottom: 0px;
}

.modal-body {
  padding-bottom: 8px;
}

#username {
  text-align: center;
}
